<% @cart.each do |item| if @cart %>
<%= item %>
<% end %>
<form method="POST" action="/add">
    <input id="product" type="text" name="product"/>
    <input type="submit" value="add to cart"/>
</form>
